@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-dm-mono: 'DM Mono', monospace;
  --font-dm-sans: 'DM Sans', sans-serif;
  --dark-color: #161925;
  --dark-text-color: #e1e2ef;
  --dark-accent-color: #9b287b;
  --light-color: white;
  --light-text-color: #0c120c;
  --light-accent-color: #006daa;
}

body {
  font-family: var(--font-dm-sans);
  -webkit-font-smoothing: antialiased;
}

section {
  margin-block: 25px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-dm-mono);
  margin-bottom: 0.7rem;
}

p {
  margin-bottom: 0.5rem;
}
