@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-color: rebeccapurple;
}

section {
  margin-block: 25px;
}

h2,
h3,
h4 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.5rem;
}
