@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-dm-mono: 'DM Mono', monospace;
  --font-dm-sans: 'DM Sans', sans-serif;
}

* {
  border-color: rebeccapurple;
}

body {
  font-family: var(--font-dm-sans);
}

section {
  margin-block: 25px;
}

h2,
h3,
h4 {
  font-family: var(--font-dm-mono);
  margin-bottom: 0.7rem;
}

p {
  margin-bottom: 0.5rem;
}
